<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <head th:replace="fragments/scripts :: scripts"/>
    
    <title>EXAMEN DE CONOCIMIENTOS - BENAGUI CONSULTING</title>    
</head>

<body style="background-color: transparent">
        
    <th:block th:replace="fragments/header :: header" />
    <div class="container-fluid">
        <th:block layout:fragment="content" />
    </div>
    
</body>
</html>