<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.com.examen.repository.maestros.SerieMapper">
    
    <!-- *************** RESULTMAPS ******************* -->
    <resultMap id="serie" type="SerieModel">
        <result property="codSerie"					column="COD_SERIE" />
        <result property="tipoDocumento" 			column="COD_TIPO_DOCUMENTO" />
        <result property="desTipoDocumento" 		column="DES_TIPO_DOCUMENTO" />        
        <result property="nroSerie" 				column="NRO_SERIE" />
        <result property="correlativo" 				column="CORRELATIVO" />
        <result property="maxcorrelativo" 			column="MAX_CORRELATIVO" />
        <result property="activo"		 			column="ACTIVO" />
        <result property="codigoUsuarioRegistra" 	column="COD_USU_REGISTRA" />
        <result property="fechaRegistro" 			column="FEC_REGISTRO" />
        <result property="codigoUsuarioModifica" 	column="COD_USU_MODIFICA" />
        <result property="fechaModificacion" 		column="FEC_MODIFICACION" />
    </resultMap>
        
    <!-- ********************* PARAMETERMAPS ********************* -->
    <parameterMap id="listarSerieParams" type="hashmap">
    	<parameter property="DATO_BUSCAR"        	jdbcType="VARCHAR"  mode="IN"/>
    	<parameter property="COD_TIPO_DOCUMENTO"       	jdbcType="VARCHAR"  mode="IN"/>
        <parameter property="FLAG_RESULTADO"   		jdbcType="VARCHAR"  mode="OUT"/>
        <parameter property="MENSAJE_RESULTADO"    	jdbcType="VARCHAR"  mode="OUT"/>
    </parameterMap>
    
    <!-- ************************* QUERYS ******************************* -->
    <select id="listarSerie" parameterMap="listarSerieParams" resultMap="serie" statementType="CALLABLE">
    	{CALL SP_LISTAR_SERIES(?,?,?,?) }
    </select>


    <insert id="insertarSerie" parameterType="hashmap" statementType="CALLABLE">
        {CALL SP_INSERTAR_SERIE(
                #{p_V_COD_TIPO_DOCUMENTO, mode=IN, jdbcType=VARCHAR},
                #{p_V_DESCRIPCION, mode=IN, jdbcType=VARCHAR},
                #{p_V_NRO_SERIE, mode=IN, jdbcType=CHAR},
                #{p_N_CORRELATIVO, mode=IN, jdbcType=INTEGER},
                #{p_N_MAX_CORRELATIVO, mode=IN, jdbcType=INTEGER}
              )}
    </insert>

    <select id="contarPorNroSerie" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM serie
        WHERE V_NRO_SERIE = #{p_V_NRO_SERIE}
    </select>




</mapper>